DM_NIRS.FarmCPU.QQplot.jpg
DM_NIRS.FarmCPU.Rectangular-Manhattan.jpg
DM_NIRS.FarmCPU.csv
DM_NIRS.FarmCPU_signals.csv
DM_NIRS.GLM.DM_NIRS.MLM.DM_NIRS.FarmCPU.Circular-Manhattan.jpg
DM_NIRS.GLM.DM_NIRS.MLM.DM_NIRS.FarmCPU.Multracks-Manhattan.jpg
DM_NIRS.GLM.DM_NIRS.MLM.DM_NIRS.FarmCPU.Multracks-QQplot.jpg
DM_NIRS.GLM.DM_NIRS.MLM.DM_NIRS.FarmCPU.Multraits-Manhattan.jpg
DM_NIRS.GLM.DM_NIRS.MLM.DM_NIRS.FarmCPU.Multraits-QQplot.jpg
DM_NIRS.GLM.DM_NIRS.MLM.DM_NIRS.FarmCPU.SNP-Density.jpg
DM_NIRS.GLM.QQplot.jpg
DM_NIRS.GLM.Rectangular-Manhattan.jpg
DM_NIRS.GLM.csv
DM_NIRS.GLM_signals.csv
DM_NIRS.MLM.QQplot.jpg
DM_NIRS.MLM.Rectangular-Manhattan.jpg
DM_NIRS.MLM.csv
DM_NIRS.MLM_signals.csv
DM_NIRS.PCA_2D.jpg
DM_NIRS.Phe_Dist.jpg
Data_For_rMVP.txt
GWAS_rMVP.RData
MVP.20231116_023842.log
MVP.20231116_024011.log
MVP.20231116_024133.log
MVP.Data.20231116_023833.log
Map_For_rMVP.txt
WAB_20min_mean.FarmCPU.QQplot.jpg
WAB_20min_mean.FarmCPU.Rectangular-Manhattan.jpg
WAB_20min_mean.FarmCPU.csv
WAB_20min_mean.FarmCPU_signals.csv
WAB_20min_mean.GLM.QQplot.jpg
WAB_20min_mean.GLM.Rectangular-Manhattan.jpg
WAB_20min_mean.GLM.WAB_20min_mean.MLM.WAB_20min_mean.FarmCPU.Circular-Manhattan.jpg
WAB_20min_mean.GLM.WAB_20min_mean.MLM.WAB_20min_mean.FarmCPU.Multracks-Manhattan.jpg
WAB_20min_mean.GLM.WAB_20min_mean.MLM.WAB_20min_mean.FarmCPU.Multracks-QQplot.jpg
WAB_20min_mean.GLM.WAB_20min_mean.MLM.WAB_20min_mean.FarmCPU.Multraits-Manhattan.jpg
WAB_20min_mean.GLM.WAB_20min_mean.MLM.WAB_20min_mean.FarmCPU.Multraits-QQplot.jpg
WAB_20min_mean.GLM.WAB_20min_mean.MLM.WAB_20min_mean.FarmCPU.SNP-Density.jpg
WAB_20min_mean.GLM.csv
WAB_20min_mean.GLM_signals.csv
WAB_20min_mean.MLM.QQplot.jpg
WAB_20min_mean.MLM.Rectangular-Manhattan.jpg
WAB_20min_mean.MLM.csv
WAB_20min_mean.MLM_signals.csv
WAB_20min_mean.PCA_2D.jpg
WAB_20min_mean.Phe_Dist.jpg
WAB_30min_mean.FarmCPU.QQplot.jpg
WAB_30min_mean.FarmCPU.Rectangular-Manhattan.jpg
WAB_30min_mean.FarmCPU.csv
WAB_30min_mean.FarmCPU_signals.csv
WAB_30min_mean.GLM.QQplot.jpg
WAB_30min_mean.GLM.Rectangular-Manhattan.jpg
WAB_30min_mean.GLM.WAB_30min_mean.MLM.WAB_30min_mean.FarmCPU.Circular-Manhattan.jpg
WAB_30min_mean.GLM.WAB_30min_mean.MLM.WAB_30min_mean.FarmCPU.Multracks-Manhattan.jpg
WAB_30min_mean.GLM.WAB_30min_mean.MLM.WAB_30min_mean.FarmCPU.Multracks-QQplot.jpg
WAB_30min_mean.GLM.WAB_30min_mean.MLM.WAB_30min_mean.FarmCPU.Multraits-Manhattan.jpg
WAB_30min_mean.GLM.WAB_30min_mean.MLM.WAB_30min_mean.FarmCPU.Multraits-QQplot.jpg
WAB_30min_mean.GLM.WAB_30min_mean.MLM.WAB_30min_mean.FarmCPU.SNP-Density.jpg
WAB_30min_mean.GLM.csv
WAB_30min_mean.GLM_signals.csv
WAB_30min_mean.MLM.QQplot.jpg
WAB_30min_mean.MLM.Rectangular-Manhattan.jpg
WAB_30min_mean.MLM.csv
WAB_30min_mean.MLM_signals.csv
WAB_30min_mean.PCA_2D.jpg
WAB_30min_mean.Phe_Dist.jpg
mvp.geno.bin
mvp.geno.desc
mvp.geno.map
mvp.kin.bin
mvp.kin.desc
mvp.pc.bin
mvp.pc.desc
mvp.phe
